@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.cdnfonts.com/css/calibre');

body {
  margin: 0;
  font-family: 'Calibre', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a192f;
  color: rgb(206, 215, 243);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.light-color {
  color: rgb(145, 252, 220);
}

.light-color:hover {
  color: rgb(164, 255, 228);
}

.light-color-grey {
  color: rgb(138, 147, 173);
}

.bright-color {
  color: rgb(206, 215, 243);
}

.bright-color:hover {
  color: rgb(145, 252, 220);
}

.f-24 {
  font-size: 24px;
}

.f-20 {
  font-size: 20px;
}

.f-80 {
  font-size: clamp(40px, 8vw, 80px);
}
.f-90 {
  font-size: clamp(60px, 8vw, 90px);
}

.fn-font {
  font-size: clamp(80px, 9vw, 100px);
  font-weight: 600;
  line-height: 0.9;
}

.ln-font {
  font-size: clamp(50px, 9vw, 80px);
  font-weight: 600;
  line-height: 0.8;
}

.subtitle-font {
  font-weight: 600;
  font-size: clamp(24px, 6vw, 70px);
}

.fw-600 {
  font-weight: 600;
}

.main {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 40px;
}

@media (max-width: 418px) {
  .main {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 40px 40px;
  }
}

@media (min-width: 770px) {
  .main {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 0px 110px;
  }
}

@media (min-width: 1000px) {
  .main {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 0px 150px;
  }
}

@media (min-width: 1200px) {
  .main {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 0px 180px;
  }
}

@media (min-width: 1300px) {
  .main {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 0px 200px;
  }
}
@media (min-width: 1400px) {
  .main {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 0px 240px;
  }
}

@media (min-width: 1500px) {
  .main {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 0px 300px;
  }
}

.navbar-bg {
  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(8px);
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  user-select: auto !important;
  align-items: center;
  position: fixed;
  height: 100px;
  top: 0px;
  z-index: 11;
  width: 100%;
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;

}

.nintendo-font {
  font-family: 'Press Start 2P', cursive;
}

@media(prefers-reduced-motion: no-preference){
  .down {
    height: 100px;
    transform: translateY(calc(100px * -1));
    background-color: rgba(10, 25, 47, 0.85);
    box-shadow: 0 10px 30px -10px rgba(2,12,27,0);
  }
}

@media(prefers-reduced-motion: no-preference){
  .up {
    height: 100px;
    transform: translateY(0px);
    background-color: rgba(10, 25, 47, 0.85);
    box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.065);
  }
}

.wrapper {
  box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  display: block;
  position: relative;
  width: fit-content;
  border-radius: 4px;
  background-color: #64ffda;
  height: 40%;
}

.wrapper::after {
  border: 2px solid #64ffda;
  top: 20px;
  left: 20px;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.wrapper::before {
  top: 0px;
  left: 0px;
  background-color: rgba(2,12,27,0.7);
  mix-blend-mode: screen;
  content: "";
  display: block;
  position: absolute;
  width: fit-content;
  height: 100%;
  border-radius: 4px;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.wrapper .img {
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  height: 100%;
  display: block;
  max-width: 500px;
}

.wrapper img {
  border-radius: 4px;
}

.wrapper:hover .img {
  filter: none;
  mix-blend-mode: normal;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  max-width: 500px;
}

.wrapper::hover {
  outline: 0px;
  box-shadow: 0 20px 30px -15px rgba(2,12,27,0.7);
}

.py-100 {
  padding: 100px 0px;
}

.section-subtitle {
  font-size: clamp(16px, 6vw, 32px);
  font-family: 'Press Start 2P', cursive;
  display: flex;
  align-items: center;
}

.section-subtitle::after {
    content: "";
    display: block;
    position: relative;
    top: 0px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: rgb(39 54, 82);
}

.vertical-center-container {
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}